.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
sandbox/build/classes/java/main/MyFirstApp.class
sandbox/build/libs/sandbox.jar
sandbox/build/tmp/jar/MANIFEST.MF
sandbox/build/tmp/compileJava/previous-compilation-data.bin
sandbox/build/distributions/sandbox.tar
sandbox/build/distributions/sandbox.zip
sandbox/build/scripts/sandbox.bat
sandbox/build/scripts/sandbox
.idea/workspace.xml
sandbox/build/classes/java/main/ru/stqa/pft/sandbox/MyFirstApp.class
sandbox/build/classes/java/main/ru/stqa/pft/sandbox/Point.class
sandbox/build/classes/java/main/ru/stqa/pft/sandbox/Rectangle.class
sandbox/build/classes/java/main/ru/stqa/pft/sandbox/Square.class
sandbox/build/classes/java/test/ru/stqa/pft/sandbox/SquareTest.class
sandbox/build/reports/tests/test/classes/ru.stqa.pft.sandbox.SquareTest.html
sandbox/build/reports/tests/test/css/base-style.css
sandbox/build/reports/tests/test/css/style.css
sandbox/build/reports/tests/test/js/report.js
sandbox/build/reports/tests/test/packages/ru.stqa.pft.sandbox.html
sandbox/build/reports/tests/test/index.html
sandbox/build/test-results/test/binary/output.bin
sandbox/build/test-results/test/binary/output.bin.idx
sandbox/build/test-results/test/binary/results.bin
sandbox/build/tmp/compileTestJava/previous-compilation-data.bin
sandbox/build/test-results/test/TEST-ru.stqa.pft.sandbox.SquareTest.xml
